<% provide(:title, 'What is New Avenue?') %>

<header class="title-header">
    <div class="row">
          <div class="large-12 columns">
            <h1>What We're About</h1>
            <h4>We're a one stop shop for all your small home needs.</h4>
          </div>
        </div>
</header>

<!-- Three-up Content Blocks -->

<section>

  <div class="row">

    <div class="large-10 push-2 columns">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sodales nibh et lacus fermentum pretium. Fusce in nisi vel orci condimentum rutrum. Cras molestie tellus quis diam dictum vel hendrerit risus pretium. Nulla sodales cursus massa, id posuere magna commodo quis. Duis tincidunt, lectus eu accumsan scelerisque, dui metus sollicitudin magna, eu convallis lorem nunc ac nibh. Suspendisse ac sapien urna, quis posuere quam. Nullam eleifend arcu ac eros lobortis luctus. Quisque pulvinar mattis pulvinar. Suspendisse rhoncus leo eget quam ullamcorper at mattis velit posuere. Vestibulum sit amet magna nec tellus tristique porttitor auctor nec arcu. Pellentesque lectus dolor, consequat ac rhoncus quis, tempor et lectus. Etiam eleifend pretium odio, vitae varius ante cursus congue. Quisque ornare lacus in risus pretium a blandit mauris dapibus. In molestie tellus sit amet sapien porta iaculis. Integer ac lacus risus, ac ultricies tortor.
      <p>
      Cras eu venenatis quam. Donec sit amet lectus eleifend nisi consequat ornare. Maecenas pellentesque fermentum nibh pellentesque porttitor. Nulla pellentesque sagittis arcu aliquam tristique. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi lobortis quam vel augue convallis rhoncus. In commodo, magna eget rutrum euismod, nibh magna aliquam nisl, vitae condimentum magna libero at tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eleifend mauris vel nisi blandit adipiscing. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
      <p>
      Ut malesuada vehicula felis ac rhoncus. Pellentesque porta condimentum cursus. Curabitur porta justo ut ipsum ullamcorper convallis. Morbi eu bibendum lacus. Nulla quis augue nec eros aliquet pellentesque eu lacinia felis. Vestibulum dignissim consequat elit vel bibendum. Morbi nec nibh quis nunc iaculis ornare ut lobortis est. Fusce ultrices mattis ipsum et pretium. Sed vitae sapien a odio pretium elementum sed ac ante. Curabitur eget sapien vitae massa gravida vehicula in eu libero. Morbi nec euismod purus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
      <p>
      Fusce auctor dolor tincidunt mi egestas nec auctor nibh feugiat. Donec malesuada purus eu eros condimentum eu commodo turpis laoreet. Sed bibendum nibh vitae arcu suscipit dapibus. Morbi consequat consequat lobortis. Duis quis nulla dolor, at sollicitudin arcu. In purus dolor, pulvinar vitae adipiscing ut, varius ac ligula. Phasellus libero metus, commodo quis iaculis adipiscing, sollicitudin quis justo. Aenean sed ipsum arcu. Nullam luctus gravida semper. Curabitur in scelerisque nisi. Vivamus luctus nisl et dolor hendrerit congue. Aenean metus purus, adipiscing in vulputate non, facilisis quis ipsum. Donec ut enim nisi, ut eleifend turpis. Sed et lacus et dolor lacinia commodo. Curabitur tempor dapibus leo, et congue lorem convallis vitae. Nulla facilisi.
    </div>

    <div class="large-2 pull-10 columns">
      <ul class="side-nav">
        <li class="active"><a href="#">Link 1</a></li>
        <li><a href="#">Link 2</a></li>
        <li><a href="#">Link 3</a></li>
        <li><a href="#">Link 4</a></li>
      </ul>
    </div>

  </div>



  <!-- Call to Action -->
  <div class="row">
    <div class="large-12 columns">
    
      <div class="panel">
        <h4>Get in touch!</h4>
            
        <div class="row">
          <div class="large-9 columns">
            <p>We'd love to hear from you, you attractive person you.</p>
          </div>
          <div class="large-3 columns">
            <a href="#" class="radius button right">Contact Us</a>
          </div>
        </div>
      </div>


      
    </div>
  </div>

</section>