<% provide(:title, @album.title) %>

<% provide :toolbar do %>
<% if can? :update, @album.parent %>
  <%= render :partial => 'frontend/albums/albums/toolbar' %>
<% end %>
<% end %>

<div id="album_container">
<%= render :partial => 'frontend/albums/albums/show' %>
</div>