<% provide(:title, "Edit Featured Work" ) %>

<% content_for :main do %>

  <h1>Edit Featured Work</h1>

  <%= album_edit_form(featured_architect_work_path(@profile), featured_architect_with_slug_path(:slug => @profile.user.slug)) %>

<% end %>