<% provide(:title, "Upload to Featured Work") %>

<% content_for :main do %>

<h1><%= yield(:title) %></h1>

<%= new_images_upload_form(featured_architect_upload_images_path(@album.parent), featured_architect_with_slug_path(:slug => @album.parent.user.slug)) %>

<% end %>