<table class="projects-list-block">
  <thead>
    <th>Title</th>
    <th>Created</th>
    <th>Team Members</th>
  </thead>
  <tbody>
    <% projects.each do |project| %>
      <%= render :partial => 'frontend/crm/projects/projects_list_row', :locals => {:project => project} %>
    <% end %>
  </tbody>
</table>


    