<table style="width: 100%;">
  <thead>
    <th>Title</th>
    <th>Created</th>
    <th>Team Members</th>
  </thead>
  <tbody>
    <% Physical::Project::Project.limit(objects_per_page).each do |project| %>
      <%= render :partial => 'frontend/admin/admin/projects/projects_list_row', :locals => {:project => project} %>
    <% end %>
  </tbody>
</table>


    