<h6>You need to create a project first!</h6>

<p>A project is a folder for saving your ideas. We use it to keep in touch with you and keep you updated.</p>

<%= link_to "Create one now", new_project_path, :class => "button primary radius" %>