<% provide(:title, 'Start Your Project') %>

<h2><%= yield(:title) %></h2>

<%= semantic_form_for @project, :as => :project, :url => projects_path do |f| %>
  
    <%= render 'frontend/projects/projects/project_title_description_input', :f => f%>
  
    <button type="submit" class="button large radius">Create</button>
  
<% end  %>