<% provide(:title, @project.title) %>

<h3><%= yield :title %></h3>

<div class="row">
  <div class="columns large-8">
    <p><%= @project.description %></p>
    <%= link_to edit_project_path(@project), :class => 'button tiny neutral' do %>
      <i class='general foundicon-edit'></i> Edit Project
    <% end %>
  </div>
  <div class="columns large-4">
    <%= @address.to_full_display %>
  </div>
</div>

<hr />

<h4>Activity</h4>

<p>No recent activity.</p>

<p>TODO: Recent project activity</p>