
<div class="row">
  <div class="columns large-8">
    <p><%= @project.description %></p>
    <p>TODO: Edit project description</p>
  </div>
  <div class="columns large-4">
    Project Address
    <% if !@project.address %>
      <%= link_to new_project_path, :class => 'button tiny' do %>
        <i class='general foundicon-edit'></i>Edit Address
      <% end %>
    <% else %>

    <% end %>
    <p>TODO: Edit project address</p>
  </div>
</div>

<hr />

<h4>Activity</h4>

<p>No recent activity.</p>

<p>TODO: Recent project activity</p>