<% provide(:title, @project.title) %>

<div class="row">
  <div class="columns large-12">
    <% @project.members do |m| %>

    <% end %>
  </div>
</div>

<%= render :partial => 'frontend/projects/project_items/new_post', :locals => { :project_item => Physical::Project::ProjectItem.new(:project => @project) } %>

<br />

<hr />

<div class="project-feed infinite-container">
  <%= 
    render :partial => 'frontend/projects/project_items/project_feed', 
        :locals => { 
          :project => @project,
          :project_items => @project_items,
          :next_page_url => project_path(:id => @project.id, :page => @project_items.current_page.to_i + 1, :layout => false),
          :context => "global",
          :infinite => true
        }
  %>
</div>
