<% provide(:title, "Message Sent") %>

<section class="page-content">

  <div class="large-9 columns">
    
    <h3>Message Sent</h3>

    <p>Your message was sent successfully! We'll get back to you as soon as we can.</p>

    <p><%= link_to "Click here to return to the contact page", contact_path %></p>

  <div class="large-3 columns"></div>

</div>

</section>

<br />