<% provide(:title, "Design Ideas") %>

<% content_for :main do %>

  <%= 
    render :partial => 'frontend/albums/album_items/album_items_feed', 
        :locals => { 
          :items => @album_items,
          # :next_page_url => ideas_path(:page => (@album_items.current_page.to_i + 1), :category => (params[:category] ? params[:category] : 'all'), :layout => false),
          :next_page_url => ideas_path + "?page=#{@album_items.current_page.to_i + 1}&category=#{params[:category] ? params[:category] : 'all'}",
          :context => "global",
          :endless => false
        }
  %>

<% end %>

<% content_for :sidebar do %>  
  
  <h3>Filter By Category</h3>

  <%= render :partial => 'frontend/albums/album_items/index_ideas_categories_nav' %>

<% end %>