<table class="users-list-block">
  <thead>
    <th>User</th>
    <th>Joined</th>
    <th>Role</th>
    <th></th>
  </thead>
  <tbody>
    <% users.each do |user| %>
      <%= render :partial => 'frontend/crm/users/users_list_row', :locals => {:user => user} %>
    <% end %>
  </tbody>
</table>


    