<div class="fb-like" data-href="<%= "#{request.protocol}#{Rails.application.config.domain_settings[:host]}#{request.path}" %>" data-width="450" data-layout="button_count" data-show-faces="true" data-send="false"></div>

<a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>

<% if false %>
<a href="//www.pinterest.com/pin/create/button/" data-pin-do="buttonBookmark" ><img src="//assets.pinterest.com/images/pidgets/pin_it_button.png" /></a>
<% end %>