<div class="project-feed infinite-container" data-project-id="<%= project.id %>">
  <%= render :partial => 'frontend/projects/project_items/project_feed', :locals => { :project => project, :project_items => project_items } %>
</div>

<div class="infinite-load-container hidden">
  Loading...
</div>

<div class="project-feed-nav">
  <% if project_items.total_pages > project_items.current_page.to_i %>
    <%= link_to "More", 
      project_path(:id => project.id, :page => project_items.current_page.to_i + 1, :layout => false),
      :class => "infinite-more-link next hidden"
    %>
  <% end %>
</div>
