<% provide(:title, "What's Happening") %>

<% content_for :main do %>

<h1><%= yield(:title) %></h1>

  <%= 
    render :partial => 'frontend/projects/project_items/project_feed', 
        :locals => { 
          :project => nil,
          :project_items => @project_items,
          :next_page_url => community_path(:page => @project_items.current_page.to_i + 1, :layout => false),
          :context => "global",
          :infinite => true
        }
  %>

<% end %>

<% content_for :sidebar do %>
  
  <h3>TODO: Some interesting links?</h3>
  
  <ul class="side-nav">
    <li>something</li>
    <li>something</li>
    <li>something</li>
    <li>something</li>
  </ul>

<% end %>