<div class="row">
  <div class="large-10 columns">
    <ul class="button-group">
      <li><%= link_to edit_vendor_path(@vendor), :class => "small button neutral" do %><i class='general foundicon-edit'></i>Edit Company Profile<% end %></li>
      <li><%= link_to vendor_staff_index_path(@vendor), :class => "small button neutral" do %><i class='general foundicon-address-book'></i>Manage Members<% end %></li>
      <li><%= link_to "#", :'data-reveal-id' => 'new_album_modal', :class => "small button neutral" do %><i class='general foundicon-photo'></i>Create Album<% end %></</li>
      <% if @vendor and can? :manage, @vendor %>
        <li><%= link_to 'Delete Vendor', "#", :class => "small button neutral" %></li>
      <% end %>
    </ul>
  </div>
</div>  