<div class="hide-for-small">
  <%= render :partial => 'frontend/vendors/vendors/vendor_profile_logo', :locals => { :vendor => vendor } %>
  <br />
</div>

<div class="hide-for-small">
  <% if @vendor.object and can? :update, @vendor.object %>
  <%= render :partial => '/frontend/vendors/vendors/toolbar_links' %>
  <% end %>
</div>

<h5>Team Members</h5>
<% vendor.members.each do |vendor_member| %>
<%= render :partial => 'frontend/vendors/staff/staff_list_item', :locals => { :vendor_member => vendor_member }  %>
<% end %>

<br>