<%= render :partial => 'frontend/vendors/vendors/vendor_profile_logo_and_actions', :locals => { :vendor => vendor } %>

<br />

<h4>Team Members</h4>

<% vendor.members.each do |vendor_member| %>
<%= render :partial => 'frontend/vendors/staff/staff_list_item', :locals => { :vendor_member => vendor_member }  %>
<% end %>