<% provide(:title, "Architects" ) %>

<h1><%=yield(:title) %></h1>

<p>
  The architects featured here work closely with you and with New Avenue. We have partnered with them and they
  have partnered with us to allow for a focused and streamlined design process in the design and delivery of
  of our homes. As a client, you will coordinate with the architect to come up with design iterations for your project.
</p>

<ul class="large-block-grid-4 small-block-grid-2 architects">
  <% @vendors.each do |vendor| %>
    <li>
      <div class="tile">
        <%= link_to vendor_profile_path(vendor.slug), :title => vendor.name, :class => "link-block" do %>
          <%= image_tag vendor_logo_for(vendor),:title => vendor.name, :alt => vendor.name %>
        <% end %>
      </div>
    </li>
  <% end %>
</ul>

<br>