<% provide(:title, @vendor.name) %>

<p><%= @vendor.description %></p>

<hr />

<h4>Members</h4>

<ul>
<% @vendor.members.each do |vendor_member| %>
<li><%= render :partial => 'frontend/vendors/staff/staff_list_item', :locals => { :vendor_member => vendor_member }  %></li>
<% end %>
</ul>

<h4>Albums</h4>

<ul>
  <% @vendor.albums.each do |album| %>
    <li><%= link_to medium_path(album) do %><%= "#{album.title}" %><% end %></li>
  <% end %>  
</ul>