<% provide(:title, 'CRM Dashboard') %>

<h3>Latest Users</h3>


<%= render :partial => 'frontend/crm/users/users_list_block', :locals => { :users => User.limit(8) } %>

<ul class="button-group">
  <li><%= link_to crm_users_path, :class => "button small neutral" do %>Show Users<% end %></li>
</ul>

<hr>

<h3>New Projects</h3>

<%= render :partial => 'frontend/crm/projects/projects_list_block', :locals => {:projects => Physical::Project::Project.limit(10) } %>

<hr>