<% provide(:title, 'What is New Avenue?') %>
   
<h1><%= yield(:title) %></h1>
<p>New Avenue is a project management service that makes it easier for you to convert your home for 30, 40 or 50 years of flexible living. We focus on second units that have a variety of designs options such as: prefab backyard cottages, accessory dwelling units, micro units, small homes, remodels, additions, and ADA-accessible small homes. Our clients use them as their primary homes, guest houses, offices, rentals for supplementary income, micro living options, and even classrooms, gyms and art studios.  By using our online project collaboration tool we make it easy for you to organize your ideas, choose an archtiect and then manage the complicated but fun process of creating a new home.  By keeping everything organized and sharing our insights that we developed over 65 projects, we help you succeed in clearing the technical, legal, and financial hurdles that come with every project. </p>

<h2>Make use of small spaces</h2>

<h3>Live better by living together</h3>
<p>A small backyard cottage or second unit often creates the best financial return of all the home improvements homeowners can make. Many homes appreciate by 50% of their overall value when a second unit is built in the backyard. This financial value is created by making use of backyards that are typically unused or are a burden to maintain and landscape.</p>

<h3>Rent, Work, Play</h3>
<p>While the financial return from rental income or just appreciation is often significantly better than any 401k investment, backyard cottages and second units are mostly used for family, friends, work, a personal care-giver, au pair or a long stream of guests. .Many of our clients have lived in their home for three generations and see a backyard cottage as a way of staying close to their loved ones or bringing their loved ones closer to them. If you live around a business center, school, or vacation destination, you could rent your second unit out for income on occasion via Airbnb.</p>

<h3>Save the planet</h3>
<p>All of our homes are designed with sustainable materials and healthy building and construction practices that would total up to exceed LEED Gold certification standards. Most importantly, a small, well-insulated home typically uses less than $1 a day in energy, and, by building within an existing community, you are helping to mitigate suburban sprawl, long commutes, and traffic congestion. </p>

<hr>

<%= render :partial => 'frontend/inquiries/mad_lib_form', :locals => { :header_tag => "h2" } %>
