<% provide(:title, 'Frequently Asked Questions') %>

<h3><%= yield(:title) %></h3>

<h5>Are your cottages ever built as the primary residence?</h5>

<p>Our homes can definitely be main homes. 
    We have several clients with homes that they are making their primary homes 
    in the 800 to 2,100 square foot range.   At 800 sf we can design
    a really nice two bedroom home with an office and an open living area.  At 1,500 sf we
  can make a four bedroom home like <a href="/our-clients/poppys-place">Poppy's Place</a>.
</p>

<h5>How big are the homes?</h5>

<p>Our designs range from a small studio cottage to a large two bedroom home. The most
popular design is the size of a typical one bedroom apartment.</p>

<h5>Do these have kitchens?</h5>

<p>Of course! These are complete homes that are designed to be ideal one or two bedroom
apartments. We expect to have a kitchen, bathroom, ample closet and storage space.</p>

<h5>How much does a home cost?</h5>

<p>Prices vary drastically by region.  We have built homes in Buffalo for $40,000 and similar
    homes in California for $120,000.  Earthquakes are partly to blame for this,
    but we can also credit the fact that Californians tend  to put lots of expensive products in their homes.</p>
<p>We have long term partners who give us reduced pricing, and we competitively bid every project out.  As a client you benefit by getting the best pricing possible.</p>

<h5>Are the homes LEED certified?</h5>

<p>All homes are designed to exceed LEED Gold requirements and most can qualify for
LEED Platinum. The benefits of living in a small and well insulated home that is within
an existing community is even more important than a LEED certification. Our homes often
use 90% less energy than a traditional home, and that's what really matters.</p>

<h5>Are the homes net zero energy?</h5>

<p>All of our homes are designed to consume so little energy that they operate on less
than $1/day. The use of solar power can make any of our homes "net zero" and can even
lower the energy bills in your primary home.</p>

<h5>What about parking?</h5>

<p>Most cities require you to add a parking space when you add one of our units. We
handle this approval process for you.</p>

<h5>What about building permits?</h5>

<p>California passed Assembly Bill 1866 and gave homeowners the right to build second
units like ours. Local cities have rules that you have to follow, and New Avenue's
turn-key solution guides your project through the local processes.</p>

<h5>Why do you make small homes?</h5>

<p>A big old four bedroom home serves the same purpose as a Dodge Caravan. We don't
need a Caravan or a four bedroom and we know that many of you don't either. A New
Avenue home is more of a Toyota Prius or Audi kind of home. If you like cool cars,
you'll like our homes.</p>

<h5>Are you a building company?</h5>

<p>No, we focus exclusively on connecting homeowners to the best architects, lenders and builders in their area. We screen and manage a network of partners who are leaders in their field and then manage them under a master New Avenue agreement. As New Avenue is a repeat customer, we have leverage to better keep the contractors on budget.</p>

<h5>Can we build outside of the Bay Area?</h5>

<%- # TODO: contact us link here %>
<p>Yes. We operate nationally. Just <%= link_to "contact us", "#" %> to discuss what you would like to
do.</p>

<h5>What is your background and why do you do this?</h5>

<p>
  The New Avenue team includes engineers, architects, anthropologists and urban planners.
  Perhaps it's because we grew up in civil engineering families who vacation at
  water treatment systems, dams, bridges and large developments. We also have parents
  and grandparents who we love dearly and we want them to babysit our kids for free. 
  Or, more likely, we would like to be able to afford an attractive, environmentally-responsible
  home, so we found a way. 
</p>

