<% provide(:title, 'How We Work With You') %>
   
<h2><%= yield(:title) %></h2>
<p>Traditionally, homeowners try to screen and hire architects and builders and manage their entire project, but this process remains complicated and stressful and is full of hidden tricks or surprises that can increase your costs way above your original goal.  Even the smallest projects can have 45 or more service professionals involved, coordinating or not coordinating, and homeowners are often left worrying or wondering if they’ve made all the necessary decisions and considerations for their project. It is a lot to manage, and it’s nearly impossible to keep a project on budget if you aren’t a professional project manager or don’t have the time, know-how and patience to oversee the project.  Most of our projects are completed within 5% of the bid. Increases and decreases are typically observed when you want to add something nice or change your mind on something during the construction process.</p>

<h3>Collaborative Platform and Marketplace</h3>
<p>Any of the architects or builders that you meet through New Avenue are long-term partners of our firm. They have committed to meeting our standards of service and quality. New Avenue works consistently and collaboratively with the same small firms, and these firms are motivated to continue working with us as opposed to just maximizing their profit from your job.  </p>

<h3>Integrated Project Delivery in 5 Structured Phases</h3>
<p>We break each project down to five manageable components.  You can hire us for any portion of this process or hire us to take you from concept to moving in.</p>

<div class="project-delivery-phases">

<div class="row project-delivery-phase">
  <div class="large-2 columns hide-for-small center-text">
    <span class="phase-word">Phase</span>
    <span class="phase-number">I</span>
  </div>
  <div class="large-6 columns">
    <h5 class="phase-title hide-for-small">Research and Feasibility Report</h5>
    <h5 class="phase-title show-for-small">Phase I - Research and Feasibility Report</h5>
    <p>We meet with you to review your ideas and goals for your small home and draft a site plan and budget. We research zoning and permitting requirements and give you a summary of city fees and project constraints. You will meet with one of our architects to start the design process.</p>
    <p><%= link_to "&raquo; See Sample Phase I Report (PDF, 10.8 MB)".html_safe, "https://d30c147332eb2dec5310-0058d95ebdf51c2bd9f43fd0921533e4.ssl.cf1.rackcdn.com/static-assets/samples/Sample%20Phase%201%20Report.pdf", :target => "_blank" %></p>
  </div>
  <div class="large-4 columns">
    <span class="phase-length">1-2 Weeks</span>
    <ul>
      <li>$2,500 flat fee</li>
    </ul>
  </div>
</div>

<div class="row project-delivery-phase">
  <div class="large-2 columns hide-for-small center-text">
    <span class="phase-word">Phase</span>
    <span class="phase-number">II</span>
  </div>
  <div class="large-6 columns">
    <h5 class="phase-title hide-for-small">Floor Plans and Planning Permits</h5>
    <h5 class="phase-title show-for-small">Phase II - Floor Plans and Planning Permits</h5>
    <p>One of our architects works with you to create floor plans (aka blueprints). You will get floor plans, site plans, furniture layouts. The project schedule and budget are updated accordingly if needed. All zoning forms will be completed and submitted.</p>
    <p><%= link_to "&raquo; See Sample Phase II Deliverable (PDF, 6.8 MB)".html_safe, "https://d30c147332eb2dec5310-0058d95ebdf51c2bd9f43fd0921533e4.ssl.cf1.rackcdn.com/static-assets/samples/Sample%20Phase%202%20Deliverable.pdf", :target => "_blank" %></p>
  </div>
  <div class="large-4 columns">
    <span class="phase-length">~1 month</span>
    <ul>
      <li>$2,000-$4,000 of architect time</li>
      <li>~$4,000 in city planning/zoning permit fees (average $4,000 but range from $150-$40,000 – fees are researched in Phase I)</li>
      <li>$1,500-$2,500 for site survey</li>
    </ul>
  </div>
</div>

<div class="row project-delivery-phase">
  <div class="large-2 columns hide-for-small center-text">
    <span class="phase-word">Phase</span>
    <span class="phase-number">III</span>
  </div>
  <div class="large-6 columns">
    <h5 class="phase-title hide-for-small">Design Details: Materials and Appliances</h5>
    <h5 class="phase-title show-for-small">Phase III - Design Details: Materials and Appliances</h5>
    <p>The Architect will work with you (meetings, emails, phone calls and visits to local stores) to create a detailed design. You will pick finish details such as appliances, floor type, siding material, window and door selections, roofing material, heating systems, tile and other material selections necessary to complete the home. The budget and schedule are updated accordingly.</p>
  </div>
  <div class="large-4 columns">
    <span class="phase-length">~1-2 months</span>
    <ul>
      <li>$2,000-$8,000+ of architect time (as much or as little time as you'd like)</li>
    </ul>
  </div>
</div>

<div class="row project-delivery-phase">
  <div class="large-2 columns hide-for-small center-text">
    <span class="phase-word">Phase</span>
    <span class="phase-number">IV</span>
  </div>
  <div class="large-6 columns">
    <h5 class="phase-title hide-for-small">Documentation and Building Permits</h5>
    <h5 class="phase-title show-for-small">Phase IV - Documentation and Building Permits</h5>
    <p>The architect prepares final construction documents, specifications and submittals for city building permits. By this phase, you will get plans that include as-built drawings, site plans, demolition plans, floor plans, cross-sections, engineering, interior and exterior elevations, and finish schedules. Structural engineering will be completed by a licensed engineer. You will receive your building permit now.</p>
  </div>
  <div class="large-4 columns">
    <span class="phase-length">~1 month</span>
    <ul>
      <li>$4,000-$7,000 of architect time and engineering as required. Engineering typically costs $4,000.</li>
      <li>~$3,000-$6,000 in building permit fees. </li>
    </ul>
  </div>
</div>

<div class="row project-delivery-phase">
  <div class="large-2 columns hide-for-small center-text">
    <span class="phase-word">Phase</span>
    <span class="phase-number">V</span>
  </div>
  <div class="large-6 columns">
    <h5 class="phase-title hide-for-small">Construction</h5>
    <h5 class="phase-title show-for-small">Phase V - Construction</h5>
    <p>New Avenue will:</p>
    <ul>
      <li>Solicit and review bids from licensed general contractors.</li>
      <li>Provide a standard construction agreement for you and the contractor.</li>
      <li>Visit your project regularly to oversee the construction progress.</li>
      <li>Complete progress reports and invoice for the percent of work that is completed on a biweekly basis.</li>
      <li>Review and approve or deny of any changes requested by owner or contractor.</li>
    </ul>
  </div>
  <div class="large-4 columns">
    <span class="phase-length">~4-8 months</span>
    <p>Final pricing will increase or decrease with design decisions. We work to maximize space and features for your desired budget and fix a guaranteed maximum price before construction begins.</p>
    <p>See a sample cost analysis and breakdown for a cottage we built in Berkeley, CA.</p>
  </div>
</div>

</div>