<% provide(:title, 'How we work with you') %>
   
<h3><%= yield(:title) %></h3>
<p>New Avenue helps you build a small house. We have worked on a variety of projects: backyard cottages, accessory dwelling units, micro units, attachments, renovations, and ADA-accessible units. Our clients have used them as their primary homes, guest houses, offices, rentals for supplementary income, micro living options, and even classrooms for teaching music classes. Our integrated project delivery process makes it easy for you to clear the technical, legal, and financial hurdles you’ll face.</p>

<hr>

<h3>We make it easy</h3>

<h4>Small home experts and consultants</h4>
<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora</p>

<h4>Integrated Project Delivery</h4>
<p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents. I should be incapable of drawing a single</p>

<p><%= image_tag 'http://lorempixel.com/720/500/abstract' %></p>

<h4>5 Structured Project Phases</h4>
<p>One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections. The bedding was hardly able to cover it and seemed ready to slide off any moment. His many legs, pitifully thin compared with the size of</p>

<h4>Collaborative Platform and Marketplace</h4>
<p>The quick, brown fox jumps over a lazy dog. DJs flock by when MTV ax quiz prog. Junk MTV quiz graced by fox whelps. Bawds jog, flick quartz, vex nymphs. Waltz, bad nymph, for quick jigs vex! Fox nymphs grab quick-jived waltz. Brick quiz whangs jumpy veldt fox. Bright vixens jump; dozy fowl quack. Quick wafting zephyrs vex bold Jim. Quick zephyrs blow, vexing daft Jim. Sex-charged fop blew my junk TV quiz. How quickly</p>
