<% provide(:title, "Jobs") %>

<h1><%= yield(:title) %></h1>

<p>
    The New Avenue team is growing. We welcome energetic individuals who are crazy about small homes. We have a mission of making
    the entire process as of adding a small home not only stress-free but also educational. Join us if you want to make a huge
    impact, love new challenges, and want to have a hand in architecting an ambitious undertaking!
</p>

<p>
    <%= link_to contact_path, :class => "button large light-blue" do %>
        <i class="icon-envelope-alt"></i> Click here to inquire about opportunities
    <% end %>
</p>
