<% provide(:title, "Jobs") %>

<h3><%= yield(:title) %></h3>


<h5>Project Manager &amp; Senior Level Designer</h5>

<h6>Job Summary:</h6>

<p>The senior designer position is a key position responsible for developing custom home designs, communicating with clients and building departments and overseeing construction administration.   The senior designer will oversee 10+ jobs concurrently from inception to completion.   You will have autonomy, creative control and ownership of your projects from pre-design through completed construction.   We are looking for a long-term partner and if timing isn't right for you now, then moonlighting with us on one or two projects in the near term is possible. </p>

<h6>Specific Duties:</h6>
<ul>
    <li>Assisting sales team in follow-up meetings</li>
    <li>Gathering second unit planning code from various planning and building departments</li>
    <li>Materials selection and specifications</li>
    <li>Drafting schematic, planning and construction documents in Revit</li>
    <li>Offering excellent construction administration and construction observation for our clients including change order approvals and managing general contractors.</li>
</ul>


<h6>Minimum Qualifications:</h6>
<ul>
    <li>3-7 years experience in architecture, preferably residential</li>
    <li>Proficiency in Revit including backend topics such as creating families and making schedules</li>
    <li>Proficiency in rendering software such as 3Ds Max or SketchUp</li>
    <li>Car owner – site visits with personal car required</li>
    <li>Strong graphic, written, and verbal communication skills</li>
    <li>Strong working knowledge of the California Building Code</li>
    <li>Demonstrated ability to control project scope, schedule, and budget</li>
    <li>Proven project management capabilities and ability to drive projects forward</li>
</ul>

<h6>Personal attributes:</h6>
<ul>
    <li>Charismatic and enjoyable team member</li>
    <li>Self-motivated, able to work with little to no direct supervision, results-oriented &amp; proactive</li>
    <li>Excellent critical thinking skills and problem solving skills</li>
    <li>Excellent time management skills and attention to detail</li>
</ul>

<p>
    <strong><a href="http://archinect.com/jobs/entry/70344306/project-manager-senior-level-designer" target="_blank">» Apply for this position on Archinect</a></strong>
</p>

<p>---</p>

<h5>Full Stack Developer</h5>

<p>New Avenue is looking for a talented full stack developer who loves designing, planning, and implementing infrastructure solutions. We are developing a collaborative platform and marketplace to serve our growing clientele, architects and builders. You will be identifying and developing intuitive interfaces and interactions that will streamline existing business processes and open doors for new business.</p>

<p>You’re a match if you have at least one year of experience with the following:</p>

<ul>
    <li>UI/UX Design, Information Design, Responsive Web Design, Test-Driven Design</li>
    <li>Cross-browser and cross-device compatibilities</li>
    <li>SEO, Analytics, Social Media Marketing</li>
    <li>Web framework such as Ruby on Rails or Django, APIs, AJAX</li>
    <li>nginx, git, caching, an RDBMS database such as MySQL and Postgres</li>
    <li>HTML, JS, CSS, jQuery, backbone, coffeescript, and various open source plugins and modules</li>
    <li>Cloud products such as those provided by Rackspace or AWS</li>
    <li>Linux server management and maintenance</li>
    <li>Infrastructure scaling</li>
    <li>Graphic and video design skills – a plus but not required</li>
</ul>

<p>Join us if you want to make a huge impact, love new challenges, and want to have a hand in architecting an ambitious undertaking!</p>