<% provide(:title, "Join to get started") %>

<section id="home-features" style="padding: 2em 0;">

  <div class="row stage">
    <div class="large-6 large-offset-3 columns" style="text-align: center;">
      
      <p style="font-size: 1.5em; ">
        We are small home and backyard cottage pros. Gather your  ideas ask us questions!
      </p>

      <p style="margin-top: 2em; ">
        <%= link_to "Get Started", new_user_registration_path, :class => "button primary large radius" %>
      </p>

      <p>Use Facebook for quick and easy sign up.</p>

      <%= link_to omniauth_authorize_path("user", "facebook") do %>
        <%= image_tag "https://b6694dc98fc00ffe8b6d-3d8cead74be35266d0f147cdde9ccbfd.ssl.cf1.rackcdn.com/general/facbook-connect-button.png" %>
      <% end %>

      <p style="margin-top: 2em; ">
        <%= link_to "Already have an account? Sign in here.", new_user_session_path %>
      </p>

    </div>
  </div>

</section>