<% provide(:title, 'Privacy Policy') %>

<h3><%= yield(:title) %></h3>

<p>New Avenue is committed to protecting your privacy. To enhance your experience on our website and to gather some information about the kind of customers using the website, we occasionally ask for information about you. Below, you will find descriptions of the instances when the website requires and/or requests information from you, and how this will benefit you.</p>

<h4>What Do We Collect?</h4>
<p><strong>Website Registration</strong></p>
<p>Registration on our site is voluntary unless you choose to opt in to a custom email notification service. However, we encourage registration so that we can learn more about our customers and serve you better. If you register, you will be asked your name, organization name (if applicable), address, phone number, email address, type of organization and other questions. We use this information strictly internally.</p>
<p><strong>Email Alerts and Notifications</strong></p>
<p>You will occasionally have the opportunity to receive email alerts and notifications about new content on the website and other important news and information. If you opt in to this service, we will need to know your email address as well as some pertinent information about you related to the type of information you would like to receive. As with all information we collect from you, we will never sell or give away this information to anyone without your prior consent.</p>
<p><strong>Recommended Content</strong></p>
<p>There are opportunities on the website for you to receive recommendations of content. All we need to know for this service is information about the topics for which you would like to receive recommendations.</p>
<p><strong>Emailing Content</strong></p>
<p>You will often be able to email content you find on our website to a friend or peer. To do this, we need to know your name and email address and the recipient's email address. None of this information is retained after the email has been sent.</p>
<p><strong>Discussion Forums</strong></p>
<p>If you use any of the discussion forums on the website, we request a name and email address. Please remember that any information that is disclosed in the discussion forums becomes public information and you should exercise caution when deciding to disclose your personal information. The email address is optional and you don't have to use your real name. If you would like to personalize the discussion forum, you will need to be registered with the website (see description above).</p>
<p><strong>User Feedback</strong></p>
<p>When you fill out one of our online feedback forms, you have the option to let us know who you are. The more information you supply in conjunction with your feedback, the more useful that feedback is to us.</p>
<p><strong>Disclosure</strong></p>
<p>New Avenue will not give away or sell any information it collects on our website, excepting the possibility of sharing a mailing list with other partners in the community development industry. This will never be done without your prior consent. We do reserve the right to release information you have submitted when law requires such release.</p>
<p><strong>Cookies</strong></p>
<p>Cookies are small files stored on the hard drive of your computer. This file only identifies your computer to our website. This enables the website to recognize you when you return to the site so that it can remember your preferences and personal settings.</p>
<p><strong>Links to Other Sites</strong></p>
<p>This site contains links to other sites. New Avenue is not responsible for the privacy practices or the content of such websites.</p>
<p><strong>Security</strong></p>
<p>This site has security measures in place to protect the loss, misuse and alteration of the information under our control.</p>
<p><strong>Choice/Opt-In or Out</strong></p>
<p>Our site provides users the opportunity to opt in or opt out of receiving communications from us.</p>
<p><strong>Our Use of Information</strong></p>
<p>By providing information about yourself or your organization on our website, you are giving consent for New Avenue to use this information internally. We reserve the right to change our policy. If our policy should change regarding the use of this information, it will be posted in this privacy statement.</p>
<p><strong>Changes to your information</strong></p>
<p>If at any time you need to makes changes to the information you have supplied for your website registration, you can do so on the registration screen.</p>
<p><strong>Analytics</strong></p>
<p>New Avenue uses Google Site Stats and Google Analytics to optimize operations. No personally identifiable information is collected.</p>