<div id="theater-modal" class="reveal-modal expand">
  <div class="content-wrapper"></div>
  <a class="close-reveal-modal">&#215;</a>
</div>

<div id="prompt-modal" class="reveal-modal small">
  <div class="content-wrapper"></div>
  <a class="close-reveal-modal">&#215;</a>
</div>