<% content_for :content do %>

<section class="page-content">

  <div class="row">

    <div class="large-9 push-3 columns">
    <%= yield %>
    </div>

    <div class="large-3 pull-9 columns sidebar">

      <hr class="show-for-small">

      <h5>About Us</h5>
      <%= render :partial => 'layouts/about_links' %>
      </div>

  </div>

</section>

<% end %>

<%= render :template => 'layouts/application' %>