<% content_for :content do %>

<section>

  <div class="row">

    <div class="large-10 push-2 columns">
      <%= yield %>
    </div>

    <div class="large-2 pull-10 columns">
      something
    </div>

  </div>

</section>

<% end %>

<%= render :template => 'layouts/application' %>