<% content_for :content do %>

<br>

<section>

  <div class="row">

    <div class="large-9 push-3 columns">
      <%= yield %>
    </div>

    <div class="large-3 pull-9 columns">
      <%= render(:partial => 'frontend/vendors/vendors/vendor_profile_sidebar', :locals => {:vendor => @vendor}) if @vendor %>
    </div>

  </div>

</section>

<% end %>

<%= render :template => 'layouts/application' %>