<% content_for :content do %>

<br>

<section>

  <div class="row">

    <div class="large-12 columns">
      <%= yield %>
    </div>

  </div>

</section>

<% end %>

<%= render :template => 'layouts/application' %>