<% content_for :content do %>

<section class="page-content">

  <div class="row">

    <div class="large-12 columns">
      <%= yield %>
    </div>

</section>

<% end %>

<%= render :template => 'layouts/application' %>