<%#  wrap views with foundation containers %>

<% content_for :content do %>

<section>

  <div class="row">

    <div class="large-12 columns">
      <h1><%= yield :title %></h1>
    </div>

    <div class="large-12 columns">
    <%= yield %>
    </div>

  </div>

</section>

<% end %>

<%= render :template => 'layouts/application' %>