<% content_for :content do %>

<section id="content">

  <div class="row">

    <div class="large-9 push-3 columns">
      <%= yield %>
    </div>

    <div class="large-3 pull-9 columns">
      <img src="http://placehold.it/137x150" alt="TODO: Project cover photo">

      <% if false %>
      <ul class="side-nav">
        <li><%= active_link_to 'Newsfeed', project_path(@project.id), :wrap_tag => :li %></li>
      </ul>
      <% end %>

    </div>

  </div>

</section>

<% end %>

<%= render :template => 'layouts/application' %>